.character {
  position: absolute;
  bottom: 100px;
  left: 20px;
  background-image: url(character1.png);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  animation: change 1s infinite;
}

@keyframes change {
  0% {
    background-image: url(character1.png);
  }
  25% {
    background-image: url(character2.png);
  }
  50% {
    background-image: url(character3.png);
  }
  75% {
    background-image: url(character2.png);
  }
}

.sword {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 100px;
  background-image: url(sword.png);
}

.game-over {
  text-align: center;
  color: black;
  margin: 50px 0;
  font-family: arial;
  font-size: 100px;
}

.reset {
  position: absolute;
  left: 45%;
  color: blue;
  margin: 50px 0;
  font-family: arial;
  font-size: 50px;
  text-decoration: none;
}

@keyframes slideright {
  from {
    background-position: 70000%;
  }
  to {
    background-position: 0%;
  }
}

.background {
  position: absolute;
  bottom: 50px;
  background-image: url(background.png);
  background-repeat: repeat-x;
  animation: slideright 2000s infinite linear;
  -webkit-animation: slideright 2000s infinite linear;
  width: 99.5%;
  height: 717px;
}
